doctype html
head
  title Login - Intranet
  link(rel='stylesheet' type='text/css' href='/public/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='/public/css/main.css')
  script(type='text/javascript' src='/public/js/jquery.min.js')
  script(type='text/javascript' src='/public/js/bootstrap.bundle.min.js')
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') intranet.heron-green.co.uk
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbarContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
.form-group
  form.login-form.text-center(action=`/login` method=`POST`)
    input.form-control(type=`text` name=`username` placeholder=`Username`)
    br
    input.form-control(type=`password` name=`password` placeholder=`Password`)
    br
    button#load.btn.btn-primary(type=`submit` data-loading-text="<i class=`fa fa-spinner fa-spin `></i> Logging in") Login
script.
  $(`.btn`).on(`click`, function() {
  var $this = $(this);
  $this.button(`loading`);
  });
body
  .footer.footer
    .container
      span.text-muted Copyright © intranet.heron-green.co.uk 2021